<li class="media comment">
  <div class="media-body">
    <img src="http://static.thanhnien.com.vn/uploaded/hoangnam/2015_08_24/1b_ghtf.jpg" width="100px" height="100px"></img>
    <p><%= comment.content %></p>
  </div>
</li>