<!--HEADER START-->
<header>
  <div class="logo-container" style="background-color: #32B5F3">
    <div class="container">
      <!--LOGO START-->
      <div class="logo">
        <a href="/"><%= image_tag "logo.png", height: '45px', width: 'auto', style: 'margin-top: 12px' %></a>
      </div>
      <!--LOGO END-->
      <div class="kode-navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="sign_in">Sign in</a></li>
        </ul>
      </div>

    </div>
  </div>
</header>
<!--HEADER END-->