<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js" %>

<!--BANNER START-->
<div class="kode-inner-banner">
  <div class="banner-overlay"></div>
  <div class="kode-page-heading">
    <h2>Books Listing</h2>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Books Guide</a></li>
      <li class="active">Books Listing</li>
    </ol>
  </div>
  <div class="container">
    <div class="banner-search">
      <div class="row">
        <div class="col-md-2">
          <h2>Search<br> Your Books</h2>
        </div>

        <%= form_tag books_search_path do %>
            <div class="col-md-8">

              <%= text_field_tag :query, params[:query], class: "form-control", id: "book_search", autocomplete: "off", placeholder: 'Enter Your Book Title' %>

              <!--<input type="text" placeholder="Enter Your Title" name="query" id="book_search">-->
            </div>

            <div class="col-md-2">
              <button type="submit">Search</button>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<!--BANNER END-->


<script>
    $('#book_search').typeahead({
        name: "book",
        hint: null,
        highlight: null,
        limit: 10,
        remote: "/books/autocomplete?query=%QUERY"
    });
</script>

<style>
    .tt-hint {
        display: none;
    }

    .twitter-typeahead {
        width: 100%;
    }

    #book_search {
        background-color: #fff !important;
        width: 100%;
        color: #2b2b2b;
        border-radius: 0px;
    }

    .tt-dropdown-menu {
        background-color: #ffffff;
        padding: 15px;
        border-bottom: 0 none;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
        width: 100%;
    }

    .tt-suggestion p {
        padding: 8px 0px;
        margin-bottom: 2px;
        /*border-bottom: 1px solid #333333;*/
    }
</style>
