
<div class="copyrights">
  <div class="container">
    <p>Copyrights © 2015-16 KodeForest. All rights reserved</p>
    <div class="cards">
      <%= image_tag 'cards.png' %>
    </div>
  </div>
</div>