// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avata-author{
  text-align: center;
}
.avata-author img{
  max-width: 100%;
}
.action-show {
  padding: 15px 0px;
}
.avata_author_index {
  width: 100px;
}