// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avata-author{
  text-align: center;
}
.avata-author img{
  max-width: 100%;
}
.action-show {
  padding: 15px 0px;
}
.avata_author_index {
  width: 100px;
}

.kode-author-detail-2 {
  //padding-right: 20px;
  .kode-thumb {
    width: 100%;
    img {
      width: 100%;
    }


  }

  .kode-text {
    padding-left: 0px;
  }

  .social-icon ul {
    text-align: left;
    margin-top: 12px;
    li {
      text-align: center;
    }
  }
}

.recent-release {
  .kode-thumb {
    min-height: 350px;
  }
}