<!--HEADER START-->
<header>
  <div class="logo-container" style="background-color: #32B5F3">
    <div class="container">
      <!--LOGO START-->
      <div class="logo">
        <a href="/"><%= image_tag "logo.png", height: '45px', width: 'auto', style: 'margin-top: 12px' %></a>
      </div>
      <!--LOGO END-->
      <div class="kode-navigation">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <% if user_signed_in? %>
              <li> <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
          <% else %>
              <li> <%= link_to 'Sign in', new_user_session_path %></li>
          <% end %>

        </ul>
      </div>

    </div>
  </div>
</header>
<!--HEADER END-->