<!--NEWSLETTER START-->
<section class="kode-newsletters">
  <div class="container">
    <!--SECTION CONTENT START-->
    <div class="section-content white">
      <h2>Subscribe to our Newsletter for the latest news.</h2>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </div>
    <!--SECTION CONTENT END-->
    <div class="input-container">
      <input type="text" placeholder="Subscribe us">
      <button>Subcribe</button>
    </div>
  </div>
</section>
<!--NEWSLETTER END-->