  <div class="item">
    <div class="row">
      <div class="col-md-2">
        <div class="col-md-10 col-md-offset-1">
          <%= image_tag 'sample-restaurant-img.jpg', class: "img img-responsive img-rounded" %>
        </div>
      </div>

      <div class="col-md-10">
        <%= comment.content %>
      </div>
    </div>
  </div>
