<%= render partial: 'restaurants/partials/slide_images' %>

<div class="container" id="restaurant-index">

  <div class="restaurant-item">
    <h2 class="category-title">
      Lẩu & Nướng
    </h2>

    <div class="row">
      <ul class="bxslider">
        <% 2.times do %>
            <li>
              <% 4.times do %>
                  <div class="col-md-3">
                    <div class="card">
                      <img class="card-img-top" src="http://tea-3.lozi.vn/v1/images/resized/lau-tra-sua-xo-anh-hy-1460899544-214660-1463492714?w=640&type=s" alt="Card image cap">
                      <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-location">
                          <span class="fa fa-map-marker"></span> Techmaster - Phòng 2304, Star City, Lê Văn Lương
                        <hr>
                        </p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="restaurant-item">
    <h2 class="category-title">
      Cơm Văn Phòng
    </h2>

    <div class="row">
      <ul class="bxslider">
        <% 2.times do %>
            <li>
              <% 4.times do %>
                  <div class="col-md-3">
                    <div class="card">
                      <img class="card-img-top" src="http://tea-3.lozi.vn/v1/images/resized/lau-tra-sua-xo-anh-hy-1460899544-214660-1463492714?w=640&type=s" alt="Card image cap">
                      <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-location">
                          <span class="fa fa-map-marker"></span> Techmaster - Phòng 2304, Star City, Lê Văn Lương
                        <hr>
                        </p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="restaurant-item">
    <h2 class="category-title">
      Vỉa Hè
    </h2>

    <div class="row">
      <ul class="bxslider">
        <% 2.times do %>
            <li>
              <% 4.times do %>
                  <div class="col-md-3">
                    <div class="card">
                      <img class="card-img-top" src="http://tea-3.lozi.vn/v1/images/resized/lau-tra-sua-xo-anh-hy-1460899544-214660-1463492714?w=640&type=s" alt="Card image cap">
                      <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-location">
                          <span class="fa fa-map-marker"></span> Techmaster - Phòng 2304, Star City, Lê Văn Lương
                        <hr>
                        </p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>