// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-btn-active {
  background-color: #32B5F3 !important;
  color: #ffffff !important;
  text-shadow: none;
  border: 1px solid #32B5F3 !important;
}
.select-authors {
  width: 100%;
}

#book-show-add-to-wishlist {
  cursor: pointer;
}